PROJECT_C++/DO_AN/DEMO/Web References/localhost/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://us_minhquang.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://us_minhquang.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://us_minhquang.com/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ma" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ten" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addBookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addBookResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ma" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ten" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateBookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateBookResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ma" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteBookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteBookResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ma" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchBookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchBookResult" type="tns:SachDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SachDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DongGia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoLuong" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TenSach" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaSach" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getListBook">
        <s:complexType />
      </s:element>
      <s:element name="getListBookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getListBookResult" type="tns:ArrayOfSachDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSachDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SachDTO" nillable="true" type="tns:SachDTO" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="addBookSoapIn">
    <wsdl:part name="parameters" element="tns:addBook" />
  </wsdl:message>
  <wsdl:message name="addBookSoapOut">
    <wsdl:part name="parameters" element="tns:addBookResponse" />
  </wsdl:message>
  <wsdl:message name="updateBookSoapIn">
    <wsdl:part name="parameters" element="tns:updateBook" />
  </wsdl:message>
  <wsdl:message name="updateBookSoapOut">
    <wsdl:part name="parameters" element="tns:updateBookResponse" />
  </wsdl:message>
  <wsdl:message name="deleteBookSoapIn">
    <wsdl:part name="parameters" element="tns:deleteBook" />
  </wsdl:message>
  <wsdl:message name="deleteBookSoapOut">
    <wsdl:part name="parameters" element="tns:deleteBookResponse" />
  </wsdl:message>
  <wsdl:message name="searchBookSoapIn">
    <wsdl:part name="parameters" element="tns:searchBook" />
  </wsdl:message>
  <wsdl:message name="searchBookSoapOut">
    <wsdl:part name="parameters" element="tns:searchBookResponse" />
  </wsdl:message>
  <wsdl:message name="getListBookSoapIn">
    <wsdl:part name="parameters" element="tns:getListBook" />
  </wsdl:message>
  <wsdl:message name="getListBookSoapOut">
    <wsdl:part name="parameters" element="tns:getListBookResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addBook">
      <wsdl:input message="tns:addBookSoapIn" />
      <wsdl:output message="tns:addBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateBook">
      <wsdl:input message="tns:updateBookSoapIn" />
      <wsdl:output message="tns:updateBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteBook">
      <wsdl:input message="tns:deleteBookSoapIn" />
      <wsdl:output message="tns:deleteBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="searchBook">
      <wsdl:input message="tns:searchBookSoapIn" />
      <wsdl:output message="tns:searchBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getListBook">
      <wsdl:input message="tns:getListBookSoapIn" />
      <wsdl:output message="tns:getListBookSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://us_minhquang.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBook">
      <soap:operation soapAction="http://us_minhquang.com/addBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateBook">
      <soap:operation soapAction="http://us_minhquang.com/updateBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteBook">
      <soap:operation soapAction="http://us_minhquang.com/deleteBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchBook">
      <soap:operation soapAction="http://us_minhquang.com/searchBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListBook">
      <soap:operation soapAction="http://us_minhquang.com/getListBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://us_minhquang.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBook">
      <soap12:operation soapAction="http://us_minhquang.com/addBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateBook">
      <soap12:operation soapAction="http://us_minhquang.com/updateBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteBook">
      <soap12:operation soapAction="http://us_minhquang.com/deleteBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchBook">
      <soap12:operation soapAction="http://us_minhquang.com/searchBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListBook">
      <soap12:operation soapAction="http://us_minhquang.com/getListBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:6267/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:6267/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>